.about-row {
  width: 100%;
  padding: 5%;
  .flex(row, space-around, center);
  flex-wrap: wrap;
  // .paddingtb(50px, 50px);

  .port-cont {
    .flex(column, space-around, center);
    padding: 5%;


    .port-text-cont {
      .flex(column, space-between, center);
      // display: none;
    }
  }
}