.container {
  margin: 0 auto;
  max-width: 967px;

  .flex (column, space-around, default);
}

h1 {
  font-size: 12rem;
}

h2{
  font-size: 6rem;
  font-family: 'Montserrat Subrayada', sans-serif;
}

