
header {

  .nav_bar {
    .margintb(20px, 20px);
    img{
      height: auto;
      width: 17%;
    }
  } // we're reusing nav bar & footer, should we migrate this to nav-bar.less? 

  .banner {
    .flex (row, flex-end, center);
    max-width: 100%;
    .banner-text {
      position: absolute;
      left: 0px;
      margin-left: 10%;
      width: 65%;
      em {
        font-size: 2em;
        span {
          font-size: .6em;
        }
      }
    }
    img {
      width: 40%;
      opacity: .5;
    }

  } // .banner
} // header

section {
  // 1 content section
  .support{
    margin: 10% 0;
  }
}

footer {
  // 1 footer section
}
