
.nav_bar {
  background: grey;
  position: fixed;
  top: 0px;
  .flex (row, space-between, center);
  width: 100%;
  height: auto;
  z-index: 20;
  nav {
    margin-left: 2%;
    width: 35%;
  }
  img{
    height: auto;
    width: 100px; 
  }
} // we're reusing nav bar & footer, should we migrate this to nav-bar.less? 

header {
  .paddingtb(40px, 60px);
  width: 100%;
  height: 450px;
  background: lightpink;

  div {
    .flex (row, flex-end, center);
    position: relative;
    margin: 0 auto;
    z-index: 5;
      h1 {
        max-width: 100%;
        height: auto;
        div {
          position: absolute;
          em {
            font-size: 2em;
            }

        }
        #dev {
          top: -30px;
          left: 4%;
          @media @tablet {

            top: -50px;
            left: 3%;
            font-size: .8em;
          }
        }
      }
        #desk {
          top: 90px;
          left: 25%;
          @media @tablet {

            top: 110px;
            left: 3%;
            font-size: .8em;
          }
        }
        #queue {
          top: 220px;
          left: 10%;
          @media @tablet {
            top: 270px;
            left: 3%;
            font-size: .8em;
          }
        }
      }


    
    img {
      width: 40%;
      height: 450px;
      opacity: .8;
      border-radius: 100%;
      padding-right: 3%;
      @media @tablet {
        width: 50%;
      }
    }

} // .banner


section {

  .content{
    .flex (column, space-between, center);
  }
  .student-help, h2{
    text-align: center;
    margin: 4% 0;
    p{
      color: slategrey;
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      text-align: center;
    }
  } // 1 content section
  .support{
    .flex (row, space-between, center);
    background-color: gainsboro;
    margin: 2%;
    p{
      font-size: 3rem;
      text-align: center;
    }
  }
  .img{
    width: 45%;
    margin: 20px 2.5%;
    height: 100%;
  } // end of img class
}// section end 

.mid-content{
  text-align: center;
  img{
    width: 55%;
    padding:2%;
  }
  h1{
    color: slategray;
  }
  p{
    color:dimgrey;
    font-size: 2.5rem;
  }
  
}
  h3{
    text-align: center;
  }
 
  label{
    display: block;
    font-size: 2rem;
  }// label end 
  input, textarea{
    display: block;
    width: 100%;
    font-size: 2rem;
  } // input textarea end
footer {
  .paddingtb(20px, 20px);
  background-color: grey;
  width: 100%;
  .flex(row, space-around, center);
  flex-wrap: wrap;
  .footer-cont {
    .flex(row, space-around, baseline);
    flex-wrap: wrap;
    width: 100%;
    img {
      width: 150px;
      height: auto;
    }

    ul {
      .paddingtb(10px, 10px);

      li {
        padding: 10px;
        h3 {
          background: darkred;
          color: white;
          padding: 15px;
          width: 270px;
          text-align: center;
        }
        a {
          color: black;
        }
      }
    }
  }
  small {
    text-align: center;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    padding: 20px;
  }
  // 1 footer section
}// footer end
