
header {

  .nav_bar {
    .margintb(20px, 20px);
    img{
      height: auto;
      width: 17%;
    }
  } // we're reusing nav bar & footer, should we migrate this to nav-bar.less? 

  .banner {
    .flex (row, flex-end, center);
    position: relative;
    max-width: 100%;

      h1 {
        max-width: 100%;
        height: auto;
        div {
          position: absolute;
          em {
            font-size: 2em;
            }
        }
        #dev {
          top: 5%;
          left: 4%;
          opacity: .9;
        }
        #desk {
          top: 20%;
          left: 29%;
        }
        #queue {
          top: 40%;
          left: 10%;
          opacity: .9;
        }
      }


    
    img {
      width: 40%;
      opacity: .8;
    }

  } // .banner
} // header

section {
  .content{
    .flex (column, space-between, center);
  }
  // 1 content section
  .support{
    .flex (row, space-between, center);
    margin: 10% 0;
  }
  .img{
    width: 45%;
    margin: 20px 2.5%;
    height: 100%;
  }
  p{}
}// section end 
.form{
  width:50%;
  margin: 2rem auto;
  border: 2px solid red;
  padding: 2rem;
  background: lightcyan;
  border: lightgoldenrodyellow;
  h3{
    text-align: center;
  }
  p{
    text-align: justify;
  }
  label{
    display: block;
    font-size: 2rem;
  }// label end 
  input, textarea{
    display: block;
    width: 100%;
    font-size: 2rem;
  }
} // form end
footer {
  background-color: grey;

  .flex(row, space-around, center);
  flex-wrap: wrap;
  .footer-cont {
    .flex(row, space-between, center);
    width: 70%;
    img {
      width: 150px;
      height: auto;
    }

    ul {
      li {
        padding: 10px;
        h3 {
          background: darkred;
          color: white;
          padding: 15px;
        }
        a {
          color: black;
        }
      }
    }
  }
  small {
    text-align: center;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    padding: 20px;
  }
  // 1 footer section
}// footer end
