.flex (@dir, @jus, @ali) { // .flex (@dir, @jus, @ali);
  display: flex;
  flex-direction: @dir;
  justify-content: @jus;
  align-items: @ali;
}

.margintb (@t, @b){ // .margintb(@t, @b
  margin-top: @t;
  margin-bottom: @b;
}


.paddingtb (@t, @b) { // .paddingtb(@t, @b);
  padding-top: @t;
  padding-bottom: @b;
}

.home-boxes(){
  background: #39bfff;
  border-radius: 10px;
}

.cta() { // .callaction();
  background: @penguinblue;
  color: black;
  padding: 15px;
  width: 270px;
  text-align: center;
  &:hover {
    color: white;
    background: darken(@penguinblue, 50%);
  }
}