.nav_bar{
    .flex (row, space-between, center);
    nav{
        .flex (row, space-between, default);
        width: 75%;
        a{
            text-decoration: none;
            font-size: 4rem;
            
            span{
                font-size: 0.6em;
            }
        }
    }
}