
.portrait-wrapper {
  .flex(column, center, center);
  .portrait-img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    opacity: .9;
  }
  
  .sml-p {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: pink;
    margin: 20px;
  }
  
  .med-p {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    // margin: 50px;
  }
  
  .lg-p {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 80px;
  }

  .portrait-text {
    width: 100%;


    .flex(column, space-evenly, center);

    // display: none;
    h4 {
      padding: 10px;
    }
  }

}



// add z-index on click, size large
// get everyone's favorite font family style