.med-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;

  &:hover {
    width: 220px;
    height: 220px;
  }
}

// add z-index on click, size large
// get everyone's favorite font family style

#marc {

}

#hui {

}

#theo {

}

#alej {

}

#jeff {

}

#low {

}

// social media buttons

